<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner List</title>
</head>
<body>
    <h1 th:text="'Owner List'">Owner List</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <th th:text="${owner.id}"></th>
                <th th:text="${owner.firstName}"></th>
                <th th:text="${owner.lastName}"></th>
            </tr>
        </tbody>
    </table>

</body>
</html>